
 <section class="first">
  <div class="right">
    <img src="/images/<%= imageName %>" alt="Hero image" class="responsive">
  </div>
  <div class="left">
    <h1 class="lorem"><%= title %></h1>
    <p class="lorem"><%= description %>
    </p>
  </div>
</section>
