<!-- filepath: views/partials/sma-ikoner.ejs -->
<section>
      <div class="smaikoner">
        <div class="smal">
          <img src="/images/globe-americas.svg" alt="Jord">
          <p>Gratis frakt och retur</p>
        </div>
        <div class="smal">
          <img src="/images/airplane.svg" alt="Flygplan">
          <p>Express frakt</p>
        </div>
        <div class="smal">
          <img src="/images/shield-fill.svg" alt="Säkerhet">
          <p>Säkra betalningar</p>
        </div>
        <div class="smal">
          <img src="/images/emoji-smile-fill.svg" alt="Smile">
          <p>Nyheter varje dag</p>
        </div>
      </div>
    </section>
