<!DOCTYPE html>
<html lang="sv">

<head>
  <meta http-equiv="Accept-CH" content="Viewport-Width">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>


<body>

  <header>
    <!-- Logo Section -->
    <div class="logo">
      <img src="/images/200x100.svg" alt="Logo" class="responsive">
      <div class="logo-bottom">
        <!-- Novi kontejner koji grupiše search-bar i icons -->
        <form class="search-bar" method="GET" action="/search">
          <input type="search" name="q" placeholder="Sök bland produkter">
        </form>

        <!-- <div class="search-bar">
                    <input type="text"name="q" placeholder="Sök bland produkter">
                </div>-->
        <div class="icons">
          <img src="/images/suit-heart-fill.svg" alt="Hjärta">
          <img src="/images/basket2.svg" alt="Väska">
        </div>
      </div>
    </div>

    <!-- Navbar Section kao sibling -->
    <div class="navbar">
      <ul class="tags">
        <li><a href="#hem">Hem</a></li>
        <li><a href="#Bestsäljare">Bestsäljare</a></li>
        <li><a href="#Kvinnor">Kvinnor</a></li>
        <li><a href="#Män">Män</a></li>
      </ul>
    </div>
  </header>
  <main>
    <%- body %>
  </main>

  <footer id="footer">
    <table>
      <thead>
        <tr>
          <th>Shopping</th>
          <th>Mina sidor</th>
          <th>Kundtjänst</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vinterjackor</td>
          <td>Mina Ordrar</td>
          <td>Returnpolicy</td>
        </tr>
        <tr>
          <td>Puffjackor</td>
          <td>Mitt Konto</td>
          <td>Integritetpolicy</td>
        </tr>
        <tr>
          <td>Kappa</td>
          <td></td>
        </tr>
        <tr>
          <td>Trenchcoats</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p>&copy; Freaky Fashon</p>
  </footer>


</body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const heading = document.getElementById("search-heading");
  const isSearchPage = window.location.pathname === "/search";

  if (isSearchPage) {
    const screenWidth = window.innerWidth;

    if (screenWidth < 640) {
      heading.style.display = "block";
    } else if (screenWidth >= 640 && screenWidth < 1024) {
      heading.style.display = "block";
    } else if (screenWidth >= 1024) {
      heading.style.display = "block";
    }
  }
});

</script>

</html>