<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <header>
        <!-- Logo Section -->
        <div class="logo">
            <img src="/images/200x100.svg" alt="Logo" class="responsive">
            <div class="logo-bottom">
                <!-- Novi kontejner koji grupiše search-bar i icons -->
                <form class="search-bar" method="GET" action="/search">
                    <input type="search" name="q" placeholder="Sök bland produkter">
                    <button type="submit">Traži</button>
                </form>

                <!-- <div class="search-bar">
                    <input type="text"name="q" placeholder="Sök bland produkter">
                </div>-->
                <div class="icons">
                    <img src="/images/suit-heart-fill.svg" alt="Hjärta">
                    <img src="/images/basket2.svg" alt="Väska">
                </div>
            </div>
        </div>

        <!-- Navbar Section kao sibling -->
        <div class="navbar">
            <ul class="tags">
                <li><a href="#hem">Hem</a></li>
                <li><a href="#Bestsäljare">Bestsäljare</a></li>
                <li><a href="#Kvinnor">Kvinnor</a></li>
                <li><a href="#Män">Män</a></li>
            </ul>
        </div>
    </header>
    <main>

        <%- body %>
    </main>

</body>

</html>