<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/administration/admin-style.css">
  <title>Administration</title>
</head>

<body>
  <!-- Gornji blok – Administration, proteže se celom širinom -->
  <header class="new-admin-header">
    Administration
  </header>

  <div class="new-container">

    <!-- Sidebar – Produkter blok -->
    <aside class="new-sidebar">
      <h2>Produkter</h2>

    </aside>

    <!-- Glavni sadržaj – Ny produkt -->
    <main class="new-main-content">
      <section>
        <h2>Ny produkt</h2>
        <form action="#" method="post" class="new-form-column">
          <label for="name">Namn:</label>
          <input type="text" id="namn" name="namn" required>

          <label for="description">Beskrivning:</label>
          <textarea id="description" name="description" rows="4" required></textarea>


          <label for="image_Url">Bild URL:</label>
          <label type="url" id="image_url" name="image_url" required>
          <input type="url" id="image_url" name="image_url" required>
            <label for="brand">Märke:</label>
            <input type="text" id="brand" name="brand" required>

            <label for="sku">SKU:</label>
            <input type="text" id="sku" name="sku" required>

            <label for="price">Pris:</label>
            <input type="number" id="price" name="price" required>

            <button type="submit">Lägg till</button>
        </form>
      </section>
    </main>
  </div>

</body>

</html>