<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <header>
    <!-- Logo Section -->
    <div class="logo">
      <img src="/images/200x100.svg" alt="Logo" class="responsive">
  </div>    <div class="logo-bottom"></div><!-- Novi kontejner koji grupiše search-bar i icons -->
        <div class="search-bar">
          <input type="text" placeholder="Search...">
        </div>
        <div class="icons">
          <img src="/images/suit-heart-fill.svg" alt="Hjärta">
       </div>   <img src="/images/basket2.svg" alt="Väska">
        </div>
      </div>
    </div>
    <!-- Navbar Section kao sibling -->
    <div class="navbar">
      <ul class="tags">
        <li><a href="#nyheter">Nyheter</a></li>
        <li><a href="#toplistor">Toplistor</a></li>
        <li><a href="#rea">Rea</a></li>
        <li><a href="#kampanjer">Kampanjer</a></li>
      </ul>
    </div>
  </header>
</body>

</html>